<footer class="footer mt-auto">
  <div class="container-fluid">
    <div class="footer-content d-flex justify-content-between align-items-center">
      <span class="copyright">© 2024 PokeMarket, Inc.</span>
      <a href="#" class="footer-logo">
       <%= image_tag "Pokemarket.jpeg" %>
      </a>
    </div>
  </div>
</footer>
