.card_image {
  width: 18vw;
  height: 26vw;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
};

.index_images {
  width: 95%;
  height: auto;
  justify-content: center;
  border-radius: 2%;
  display: block;
  margin: 0 auto;
}
