.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-poke {
  background-color: #5A2951;
  border-bottom: 2px solid #ddd;
}

.navbar-poke .navbar-brand img {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 2px;
}

.navbar-poke .navbar-nav .btn-login {
  background-color: #333;
  color: #fff;
  border-radius: 18px;
  padding: 7px 35px;
  border: none;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-poke .navbar-nav .btn-signin {
  background-color: #f8c8d7;
  color: #333;
  border-radius: 18px;
  padding: 7px 35px;
  border: none;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-poke .navbar-nav .btn-login:hover {
  background-color: #444444;
  color: #fff;
}

.navbar-poke .navbar-nav .btn-signin:hover {
  background-color: #f3a7b8;
  color: #454444;
}


.navbar-poke .navbar-nav .btn + .btn {
  margin-left: 15px;
}

.btn-login {
  background-color: #5A2951;
  color: white;
}

.btn-login:hover, .btn-signin:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle hover effect */
  transform: translateY(-2px);              /* Slight lift on hover */
}


.navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 20px 0;
}
.Profile_rounded {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left:20px;
}

.moving-gif {
  position: relative;
  width: 100%;
}

.moving-gif img {
  position: absolute;
  animation: move-horizontal 5s linear infinite;
}

@keyframes move-horizontal {
  0% {
    left: -5%;
  }
  100% {
    left: 95%;
  }
}

.btn-signup {
  background-color: #f3a7b8;
}


.btn {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.btn-upload, .btn-dashboard {
  background-color: #1EDD88;
  color: #333;
  border: 2px solid #1EDD88;
}

.btn-upload:hover, .btn-dashboard:hover {
  background-color: #1EDD88;
  color: #555;
  border-color: #888;
}


.btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#search-btn {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
