.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-poke {
  background-color: #5A2951;
  border-bottom: 2px solid #ddd;
}

.navbar-poke .navbar-brand img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.navbar-poke .navbar-nav .btn-login {
  background-color: #333;
  color: #fff;
  border-radius: 18px;
  padding: 7px 35px;
  border: none;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-poke .navbar-nav .btn-signin {
  background-color: #f8c8d7;
  color: #333;
  border-radius: 18px;
  padding: 7px 35px;
  border: none;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-poke .navbar-nav .btn-login:hover {
  background-color: #444444;
  color: #fff;
}

.navbar-poke .navbar-nav .btn-signin:hover {
  background-color: #f3a7b8;
  color: #454444;
}


.navbar-poke .navbar-nav .btn + .btn {
  margin-left: 15px;
}

.btn-login {
  background-color: #5A2951;
  color: white;
}

.btn-login:hover, .btn-signin:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle hover effect */
  transform: translateY(-2px);              /* Slight lift on hover */
}


.navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 20px 0;
}
.Profile_rounded {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}

.floating-image-container {
  position: relative; /* Keeps the image container positioned relative to the page */
  width: 100%;        /* Full-width container */
  text-align: center; /* Centers the image horizontally */
  animation: bounce 3s infinite ease-in-out;
  margin-bottom: -10px;
 /* Adjust to position the image vertically */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Original position */
  }
  50% {
    transform: translateY(-20px); /* Moves up 20px */
  }
}

.btn-signup {
  background-color: #f3a7b8;
}
